* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
/* variables */
:root {
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --Bebas: "Bebas Neue", sans-serif;
  --main-color: #0d2e57;
  --second-color: #8a8a8a;
  --third-color: #3954d9;
}
/* start header */
header {
  background-color: #2121219c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: absolute;
  width: 100%;
}
header .left {
  display: flex;
  align-items: center;
}
header .left i {
  color: #fff;
  padding: 15px;
  font-size: 25px;
}
header .left .logo {
  font-size: 33px;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #f5f5f5;
  font-weight: 900;
  font-family: "Poppins";
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
header .left nav {
  display: flex;
}
header .left nav a {
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-family: var(--montserrat);
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
header .right {
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
header .right i {
  color: #fff;
  font-size: 20px;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
}
header .right i.left-border {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 1024px) {
  header .right a.removable {
    display: none;
  }
}
@media (max-width: 830px) {
  header .left nav a.removable {
    display: none;
  }
}
@media (max-width: 640px) {
  header .left nav {
    display: none;
  }
  header .left .logo {
    border-right: none;
  }
}
@media (max-width: 335px) {
  header {
    flex-direction: column;
  }
  header .left {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  header .left .logo {
    border: none;
  }
  header .right {
    border: none;
  }
  header .right i.left-border {
    border: none;
  }
}
/* start home */
.home {
  height: 100vh;
  background-image: url(../images/home.png);
  background-position: bottom;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .text {
  text-align: center;
  z-index: 2;
  margin-left: 50px;
}
.home h2 {
  font-size: 112px;
  letter-spacing: -4px;
  line-height: 104px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  text-align: center;
  margin-bottom: 11px;
}
.home p {
  font-size: 17px;
  letter-spacing: 5px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 31px;
}
.home button {
  border-radius: 22px;
  background-color: #3954d9;
  border: none;
  padding: 13px 23px;
  font-size: 17px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}
@media (max-width: 1023px) {
  .home {
    align-items: center;
  }
  .home .text {
    margin-left: 0;
  }
  .home p {
    background-color: #fff;
    color: #000;
  }
}
@media (max-width: 450px) {
  .home h2 {
    font-size: 80px;
  }
  .home p {
    font-size: 15px;
  }
}
/* end home */
/* start main section */
/*  */
/*  */
/* first cards box */
.main-sec {
  position: relative;
  top: -40px;
}
@media (max-width: 992px) {
  .main-sec {
    top: 0;
  }
}
.main-sec .container {
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
}
@media (min-width: 768px) {
  .main-sec .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .main-sec .container {
    width: 900px;
  }
}
@media (min-width: 1024px) {
  .main-sec .container {
    width: 980px;
  }
}
.main-sec .container .one {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.main-sec .container .cards .card {
  text-align: center;
  padding: 30px 40px;
  border: 1px solid rgba(0, 0, 0, 0.22);
}

.main-sec .container .one .card i {
  font-size: 35px;
  color: var(--second-color);
  margin-bottom: 25px;
}
.main-sec .container .cards .card h2 {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 700;
  font-family: var(--Bebas);
}
.main-sec .container .one .card p {
  font-size: 10px;
  line-height: 24px;
  color: var(--second-color);
  font-weight: 300;
  font-family: var(--montserrat);
  margin: 10px 0;
}
.main-sec .container .one .card a {
  font-size: 13px;
  line-height: 26px;
  color: var(--third-color);
  font-weight: 600;
  font-family: var(--montserrat);
  text-align: center;
}
/* pricing  */
.main-sec .container > .box {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.main-sec .container > .box .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f0f0;
}
.main-sec .container > .box .card img {
  max-width: 100%;
}
@media (max-width: 840px) {
  .main-sec .container > .box {
    grid-template-columns: 100%;
  }
  .main-sec .container > .box .card {
    padding: 30px;
  }
  .main-sec .container > .box .card img {
    display: none;
  }
}
.main-sec .container > .box .card > span {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #616161;
  font-weight: 600;
  font-family: var(--poppins);
  margin: 0 0 15px;
  text-align: center;
}
.main-sec .container > .box .card > h2 {
  font-size: 43px;
  text-transform: uppercase;
  color: #0d2e57;
  font-weight: 700;
  font-family: "Bebas Neue";
  margin-bottom: 15px;
  text-align: center;
}
.main-sec .container > .box .card > p {
  font-size: 14px;
  line-height: 30px;
  color: #8a8a8a;
  font-weight: 300;
  font-family: var(--montserrat);
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
}
.main-sec .container > .box .card .price {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.main-sec .container > .box .card .price .now {
  font-size: 40px;
  color: #3954d9;
  font-weight: 700;
  font-family: "Montserrat";
  padding: 0 25px;
}
.main-sec .container > .box .card .price .past {
  font-size: 25px;
  text-decoration: line-through;
  color: #121212;
  font-weight: 500;
  font-family: "Montserrat";
  padding: 0 25px;
}
.main-sec .container > .box .card .time {
  display: flex;
  margin-bottom: 15px;
}
.main-sec .container > .box .card .time .box {
  border-radius: 10px;
  background-color: #fff;
  width: 75px;
  padding: 10px;
  text-align: center;
  margin: 0 10px;
}
@media (max-width: 300px) {
  .main-sec .container > .box .card .time .box {
    width: 65px;
    margin: 0 5px;
  }
  .main-sec .container > .box .card .price .now,
  .main-sec .container > .box .card .price .past {
    padding: 0 15px;
  }
}
.main-sec .container > .box .card .time .box h2 {
  font-size: 30px;
  font-family: "Montserrat";
  margin-bottom: 10px;
  position: relative;
}
.main-sec .container > .box .card .time .box h2::after {
  content: "...";
  position: absolute;
  font-size: 12px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.main-sec .container > .box .card .time .box span {
  font-family: "Montserrat";
  font-size: 12px;
}
.main-sec .container > .box .card > button {
  border: none;
  background-color: var(--third-color);
  border-radius: 22px;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  font-family: var(--montserrat);
}
/* second cards box */
.two {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.two img {
  max-width: 100%;
  margin-bottom: 20px;
}
.two .price {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.two .price .now {
  font-size: 20px;
  color: #3954d9;
  font-weight: 700;
  font-family: "Montserrat";
  padding: 0 10px;
}
.two .price .past {
  font-size: 18px;
  text-decoration: line-through;
  color: #121212;
  font-weight: 500;
  font-family: "Montserrat";
  padding: 0 10px;
}
.two .blue {
  text-align: start !important;
  background-color: #232323;
}
.two .blue h2 {
  font-size: 34px !important;
  letter-spacing: 0px;
  line-height: 34px;
  color: #fff !important;
}
.two .blue p {
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 13px;
  color: #fff;
  font-weight: 400;
  font-family: var(--montserrat);
  padding: 15px 0 25px;
}
.two .blue button {
  border-radius: 22px;
  border: none;
  background-color: var(--third-color);
}
.two .blue button a {
  color: #fff;
  padding: 10px 15px;
  display: block;
  font-family: var(--montserrat);
  font-size: 14px;
}
.two .large {
  grid-column-start: 3;
  grid-column-end: 5;
  position: relative;
  overflow: hidden;
  text-align: start !important;
  grid-column: span 2;
  background-color: #232323;
}
@media (max-width: 450px) {
  .two .large {
    display: none;
  }
}
.two .large h2 {
  font-size: 35px !important;
  letter-spacing: -1px;
  line-height: 45px;
  color: #ffffff !important;
  font-style: italic;
  font-family: "Poppins" !important;
  z-index: 10;
  position: relative;
  padding-right: 200px;
}
@media (max-width: 1023px) {
  .two .large h2 {
    font-size: 28px !important;
  }
}

.two .large button {
  z-index: 100;
  position: relative;
  background-color: #65cbff;
  border: none;
  border-radius: 21px;
  margin-top: 15px;
}
.two .large button a {
  color: #000;
  padding: 10px 14px;
  font-family: var(--montserrat);
  display: block;
}
.two .large img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
/* click here */
.click-here {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.click-here a {
  color: var(--third-color);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--montserrat);
  padding: 15px 0;
}
/* photos */
.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  position: relative;
}
.photos::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 100;
}
.photos img {
  max-width: 100%;
}
/* logos */
.logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, 150px);
  justify-items: center;
  align-items: center;
}
.logos img {
  width: 60%;
  padding: 38px 0;
}
/* end main section */
footer {
  background-image: url("../images/Footer\ BG.png");
  background-size: cover;
}
footer .top {
  border-bottom: 1px solid #000;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
footer .top .card {
  padding: 20px;
}
@media (max-width: 500px) {
  footer .top .card {
    text-align: center;
  }
}
footer .top .card h2 {
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--third-color);
  font-weight: 400;
  font-family: var(--poppins);
  padding-bottom: 12px;
}
footer .top .card > a {
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 400;
  font-family: var(--poppins);
  padding-bottom: 12px;
  display: block;
}
footer .top .card .social {
  padding-bottom: 40px;
}
footer .top .card .social a {
  color: #fff;
  font-size: 20px;
  padding: 5px;
}
footer .top .card .newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 500px) {
  footer .top .card .newsletter {
    align-items: center;
  }
}
footer .top .card .newsletter input {
  border: none;
  outline: none;
  background-color: #3f3f3f;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px 0;
  color: #fff;
  caret-color: #fff;
  font-family: var(--poppins);
  font-size: 12px;
}
footer .top .card .newsletter button {
  border: none;
  padding: 10px 20px;
  font-family: var(--poppins);
  color: #fff;
  background-color: var(--third-color);
  border-radius: 20px;
  margin-top: 20px;
}
footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 50px;
}
footer .bottom .left {
  opacity: 0.322;
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: var(--poppins);
}
@media (max-width: 500px) {
  footer .bottom {
    flex-direction: column;
    gap: 20px;
  }
  footer .bottom .left {
    text-align: center;
  }
}
footer .bottom .right i {
  color: #fff;
  padding: 4px;
  opacity: 0.5;
}
